.btn {
    border: none;
    width: 15em;
    height: 5em;
    border-radius: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background: #1C1A1C;
    cursor: pointer;
    transition: all 450ms ease-in-out;
  }
  
  .sparkle {
    fill: #AAAAAA;
    transition: all 800ms ease;
  }
  
  .text {
    font-weight: 600;
    color: #AAAAAA;
    font-size: medium;
  }
  
  .btn:hover {
    background: linear-gradient(0deg,#A47CF3,#683FEA);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
    inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 4px rgba(255, 255, 255, 0.2),
    0px 0px 180px 0px #9917FF;
    transform: translateY(-2px);
  }
  
  .btn:hover .text {
    color: white;
  }
  
  .btn:hover .sparkle {
    fill: white;
    transform: scale(1.2);
  } 

  .bg-blue-voilet{
    background-color: #9917FF;
  }

  .blue-voilet-text{
    color: #9917FF;
  }

.modal-overlay2 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .modal-content2 {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    max-height: 90vh;
    overflow-y: auto;
  }
  
  .modal-header2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .modal-title2 {
    font-size: 1.25rem;
    color: blueviolet; 
  }
  
  .close-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: blueviolet;
  }

  .modal-body2 {
    text-align: center;
  }
  
  .image-container {
    margin-bottom: 20px;
  }
  
  .modal-img2 {
    max-width: 100%;
    height: auto;
  }
  
  .link-container {
    margin-bottom: 15px;
  }
  
  .link-box {
    border: 2px solid #007bff;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
  }
  
  .link {
    color: #007bff;
    text-decoration: none;
  }
  
  .copy-button-container {
    margin-top: 20px;
  }
  
  .copy-btn {
    width: 100%;
    background-color: blueviolet;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .copy-btn:hover {
    background-color: blueviolet; 
  }
  
  .copy-success {
    margin-top: 10px;
    color: blueviolet;
    font-size: 1rem;
  }
  
  .open-modal-btn {
    padding: 10px 20px;
    background-color: blueviolet;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .open-modal-btn:hover {
    background-color: blueviolet;
  }